@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
.main-header {
  width: 350px;
  height: 600px;
  position: relative;
  background-color: black;
  margin: 0 auto;
  background-image: url("../img/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .main-header .nav-menu {
    height: 30px;
    margin-top: 30px; }
    .main-header .nav-menu .logo {
      width: 50%;
      height: 30px;
      padding-left: 30px; }
      .main-header .nav-menu .logo img {
        height: 22px; }
    .main-header .nav-menu .mobile-menu {
      width: 350px;
      height: 570px;
      background-color: black;
      position: relative;
      display: none; }
      .main-header .nav-menu .mobile-menu img {
        height: 22px; }
      .main-header .nav-menu .mobile-menu .mobile-nav {
        padding: 50px 0 0 30px; }
        .main-header .nav-menu .mobile-menu .mobile-nav .mobile-ul {
          list-style: none;
          padding: 0;
          margin: 0; }
          .main-header .nav-menu .mobile-menu .mobile-nav .mobile-ul .mobile-li a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 23px;
            line-height: 2.3; }
            .main-header .nav-menu .mobile-menu .mobile-nav .mobile-ul .mobile-li a:hover {
              border-bottom: 1px solid white; }
      .main-header .nav-menu .mobile-menu .icon-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 30px; }
        .main-header .nav-menu .mobile-menu .icon-close img {
          max-width: 20px;
          height: 20px;
          cursor: pointer; }
    .main-header .nav-menu .hamburger-menu {
      width: 50%;
      padding: 5px 30px 0 0; }
      .main-header .nav-menu .hamburger-menu img {
        width: 24px;
        height: 16px;
        float: right;
        cursor: pointer; }
    .main-header .nav-menu .nav {
      display: none; }
  .main-header .immersive-text {
    padding: 0 30px;
    position: absolute;
    top: 210px; }
    .main-header .immersive-text h1 {
      text-transform: uppercase;
      color: white;
      font-size: 35px;
      line-height: 0.95;
      border: 2px solid white;
      padding: 20px 20px 15px;
      margin: 0; }

@media (min-width: 1200px) {
  .main-header {
    width: 100%;
    height: 700px;
    background-image: url("../img/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 1px 0px 400px 15px #000000;
    -moz-box-shadow: inset 1px 0px 400px 15px #000000;
    box-shadow: inset 1px 0px 400px 15px #000000; }
    .main-header .nav-menu {
      height: 50px;
      margin-top: 70px;
      padding: 0 100px; }
      .main-header .nav-menu .logo {
        width: 60%;
        height: 50px; }
        .main-header .nav-menu .logo img {
          height: 30px; }
      .main-header .nav-menu .hamburger-menu {
        display: none; }
      .main-header .nav-menu .nav {
        width: 40%;
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 8px 0 0 100px;
        padding-right: 30px; }
        .main-header .nav-menu .nav li > a {
          color: white;
          padding: 0;
          margin: 0;
          font-size: 17px;
          font-weight: bold; }
          .main-header .nav-menu .nav li > a:hover {
            border-bottom: 1px solid white; }
    .main-header .immersive-text {
      width: 62%;
      padding: 0 120px; }
      .main-header .immersive-text h1 {
        font-size: 65px;
        padding: 40px 40px 35px; } }
.mainDiv {
  width: 350px;
  margin: 0 auto;
  padding: 0 30px; }
  .mainDiv .mainArticleDiv {
    margin-top: 90px;
    text-align: center; }
    .mainDiv .mainArticleDiv a {
      text-decoration: none;
      color: black; }
    .mainDiv .mainArticleDiv h2 {
      text-transform: uppercase;
      margin: 40px 0 10px;
      font-size: 30px; }
  .mainDiv .ourCreationsDiv a {
    text-decoration: none;
    color: black; }
  .mainDiv .ourCreationsDiv .creationsDivs {
    height: 115px;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    -webkit-box-shadow: inset 120px 0px 100px -90px #000000;
    -moz-box-shadow: inset 120px 0px 100px -90px #000000;
    box-shadow: inset 120px 0px 100px -90px #000000; }
    .mainDiv .ourCreationsDiv .creationsDivs:hover {
      opacity: .6; }
    .mainDiv .ourCreationsDiv .creationsDivs a {
      display: inline-block;
      width: 100%;
      height: 100%; }
    .mainDiv .ourCreationsDiv .creationsDivs p {
      text-transform: uppercase;
      color: white;
      font-size: 22px;
      line-height: 1;
      position: absolute;
      bottom: 0px;
      left: 20px; }
  .mainDiv .ourCreationsDiv .ourCreationsTxt {
    background-color: white;
    margin-bottom: 10px;
    box-shadow: none; }
    .mainDiv .ourCreationsDiv .ourCreationsTxt h3 {
      text-transform: uppercase;
      text-align: center;
      line-height: 110px;
      font-size: 30px; }
  .mainDiv .ourCreationsDiv .deepEarth {
    background-image: url("../img/mobile/image-deep-earth.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .mainDiv .ourCreationsDiv .nightArcade {
    background-image: url("../img/mobile/image-night-arcade.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .mainDiv .ourCreationsDiv .soccerTeamVr {
    background-image: url("../img/mobile/image-soccer-team.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .mainDiv .ourCreationsDiv .theGrid {
    background-image: url("../img/mobile/image-grid.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .mainDiv .ourCreationsDiv .frompUpAboveVr {
    background-image: url("../img/mobile/image-from-above.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .mainDiv .ourCreationsDiv .pocketBorealis {
    background-image: url("../img/mobile/image-pocket-borealis.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .mainDiv .ourCreationsDiv .theCuriosity {
    background-image: url("../img/mobile/image-curiosity.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .mainDiv .ourCreationsDiv .makeItFisheye {
    background-image: url("../img/mobile/image-fisheye.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 35px; }
  .mainDiv .ourCreationsDiv button {
    width: 160px;
    height: 40px;
    border: 2px solid black;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 23%;
    margin-bottom: 100px;
    letter-spacing: 3px; }
    .mainDiv .ourCreationsDiv button:hover {
      background-color: black;
      color: white; }

@media (min-width: 1200px) {
  .mainDiv {
    width: 80%; }
    .mainDiv .mainArticleDiv {
      position: relative;
      text-align: left;
      margin: 100px 0 140px 0; }
      .mainDiv .mainArticleDiv img {
        float: left; }
      .mainDiv .mainArticleDiv .mainArticleTxt {
        width: 400px;
        position: absolute;
        top: 187px;
        left: 520px;
        background-color: white;
        padding: 20px 0 0 40px; }
    .mainDiv .ourCreationsDiv {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .mainDiv .ourCreationsDiv .creationsDivs {
        width: 23%;
        height: 500px;
        -webkit-box-shadow: inset 1px 0px 100px 15px #000000;
        -moz-box-shadow: inset 1px 0px 100px 15px #000000;
        box-shadow: inset 1px 0px 100px 15px #000000; }
        .mainDiv .ourCreationsDiv .creationsDivs p {
          font-size: 32px;
          line-height: 1;
          bottom: 10px;
          left: 40px; }
      .mainDiv .ourCreationsDiv .ourCreationsTxt {
        width: 100%;
        height: 115px;
        box-shadow: none; }
        .mainDiv .ourCreationsDiv .ourCreationsTxt h3 {
          float: left; }
      .mainDiv .ourCreationsDiv .deepEarth {
        background-image: url("../img/desktop/image-deep-earth.jpg");
        background-repeat: no-repeat;
        background-size: cover; }
      .mainDiv .ourCreationsDiv .nightArcade {
        background-image: url("../img/desktop/image-night-arcade.jpg");
        background-repeat: no-repeat;
        background-size: cover; }
      .mainDiv .ourCreationsDiv .soccerTeamVr {
        background-image: url("../img/desktop/image-soccer-team.jpg");
        background-repeat: no-repeat;
        background-size: cover; }
      .mainDiv .ourCreationsDiv .theGrid {
        background-image: url("../img/desktop/image-grid.jpg");
        background-repeat: no-repeat;
        background-size: cover; }
      .mainDiv .ourCreationsDiv .frompUpAboveVr {
        background-image: url("../img/desktop/image-from-above.jpg");
        background-repeat: no-repeat;
        background-size: cover; }
      .mainDiv .ourCreationsDiv .pocketBorealis {
        background-image: url("../img/desktop/image-pocket-borealis.jpg");
        background-repeat: no-repeat;
        background-size: cover; }
      .mainDiv .ourCreationsDiv .theCuriosity {
        background-image: url("../img/desktop/image-curiosity.jpg");
        background-repeat: no-repeat;
        background-size: cover; }
      .mainDiv .ourCreationsDiv .makeItFisheye {
        background-image: url("../img/desktop/image-fisheye.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 35px; }
      .mainDiv .ourCreationsDiv button {
        position: absolute;
        top: 33px;
        right: 12px; } }
.main-footer {
  width: 350px;
  margin: 0 auto;
  background-color: black; }
  .main-footer .logoFooter {
    width: 100%;
    height: 30px;
    margin-top: 45px; }
    .main-footer .logoFooter img {
      height: 22px; }
  .main-footer .navFooter {
    margin-top: 20px; }
    .main-footer .navFooter .nav-link {
      padding: .4rem 1rem;
      color: white;
      transition: .15s; }
      .main-footer .navFooter .nav-link:hover {
        border-bottom: 1px solid white; }
  .main-footer .socNetIcons {
    height: 40px;
    margin-top: 30px; }
    .main-footer .socNetIcons .nav-link {
      padding: .5rem .45rem; }
      .main-footer .socNetIcons .nav-link:hover {
        border-bottom: 1px solid white; }
  .main-footer h4 {
    font-size: 15px;
    color: grey;
    margin: 15px 0 50px 0;
    font-weight: bold; }
  .main-footer .attribution {
    font-size: 11px;
    color: white; }
    .main-footer .attribution a {
      color: white; }

@media (min-width: 1200px) {
  .main-footer {
    width: 100%;
    position: relative; }
    .main-footer .logoFooter {
      padding-left: 190px; }
      .main-footer .logoFooter img {
        float: left; }
    .main-footer .navFooter {
      width: 100%;
      padding-left: 172px; }
      .main-footer .navFooter .nav {
        display: flex;
        flex-direction: row !important; }
    .main-footer .socNetIcons {
      width: 200px;
      position: absolute;
      top: 20;
      right: 160px; }
    .main-footer h4 {
      width: 500px;
      position: absolute;
      top: 90px;
      right: 64px; }
    .main-footer .attribution {
      margin-top: 100px; } }
* {
  font-family: 'Alata', sans-serif;
  font-family: 'Josefin Sans', sans-serif; }

/*# sourceMappingURL=main.css.map */
